.header {
    margin: 0 30px;
}

.logo {
    margin-left: 25%;
}

.section-header {
    border-bottom: 2px solid #d9dce2
}

@media screen and (max-width: 700px) {

    .header {
        width: 100%;
        margin: 30px 0 0 0;
    }

    .section-header {
        border-bottom: 0;
    }

    .header-icon {
        width: 100%;
    }

    .input {
        width: 100%;
    }

}