footer {
    width: 100%;
    height: 150px;
}

@media screen and (max-width: 1114px) {
    .paragrafo {
        display: none;
    }
}

@media screen and (max-width: 735px) {
    .paragrafo {
        display: none;
    }
}