.main {
    width: 100%;
}

.coluna-menor {
    width: 260px;
    height: 100%;


}

.img {
    width: 25px;
    height: 25px;
}

.coluna-maior {
    width: 100%;
    height: 100%;

}

.card-produtos {
    display: flex;
    width: 100%
}

@media screen and (max-width: 735px) {
    .coluna-menor {
        width: 200px;
    }

    .content {
        flex-direction: column;
    }

    /* .card-produtos {
        display: block;
    } */

}