* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    color: #444e5e;
    font-weight: 400;
}

h2,
h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

li {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #444e5e;
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;

}



input {
    all: unset;
    height: 50px;
    border: 1px solid #e8e9ea;
    border-radius: 5px;
}

input::placeholder {
    color: #444e5e;
    opacity: 50%;
    font-family: 'Public Sans', sans-serif;
}

.icon {
    width: 25px;
    height: 25px;
}

.transform {
    transform: scaleX(-1);
}

.header {
    line-height: 90px;
}

.logo {
    width: 100px;
    height: 100px;
}

.conteiner {
    height: 100%;
}

.border {
    border-bottom: 2px solid #d9dce2;
}

.footer {
    position: relative;
    background-color: rgb(239, 241, 243);
    height: 300px;
    width: 100%;
}

.paragrafo {
    font-size: 14px;
}

.ibarra-real {
    font-family: 'Ibarra Real Nova', serif;
}

.public-sans {
    font-family: 'Public Sans', sans-serif;
}

.blueCyan {
    color: #444e5e;
}

.rose {
    color: #ce7da5;
}

.grey {
    color: #a9b1be;
}