.p-12 {
    padding: 12px;
}

.p-15 {
    padding: 15px;
}

.p-24 {
    padding: 24px;
}

.ptb-30 {
    padding: 30px 0;
}

.mr-ml-100 {
    margin: 0 30px;
}

.ml-250 {
    margin-left: 250px;
}

.mr-10 {
    margin-right: 10px;
}

.p-input {
    padding: 5px 9px;
}

.p-15 {
    padding: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-16 {
    margin-bottom: 16px;
}

.ml-30p {
    margin-left: 25%;
}

.mt-20 {
    margin-top: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-40 {
    margin-bottom: 40px;
}

.p-20-10 {
    padding: 20px 10px;
}

.pl-30 {
    padding-left: 30px;
}

.pt-20 {
    padding-top: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.pt-pb-20 {
    padding: 20px 0;
}

.p-12 {
    padding: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}