.modal-categories .categories-list ul {
    display: block;

}

.modal-categories .categories-list li {
    padding: 10px;
}

.modal-categories {
    z-index: 200;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(54, 63, 77, .3);
}

.item-modal {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #fff;
}