.produto-item {
    width: 25%;
}

.img-coluna-maior {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-size: cover;
}

.hover-produto:hover {
    box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    border-radius: 5px;
}

.categoria span {
    font-size: 12px;
    opacity: 50%;
}

.price {
    font-size: 20px;
}

@media screen and (max-width: 1030px) {
    .produto-item {
        width: 200px;
        height: 300px;
    }
}

@media screen and (max-width: 886px) {
    .produto-item {
        width: 150px;
        height: 250px;
    }

    .categoria {
        font-size: 10px;
    }

    .desc {
        font-size: 12px;
    }

    .price {
        font-size: 15px;
    }
}