.payment {
    width: 100%;
}

.img-pay,
.info-pay {
    width: 400px;
    height: 400px;
    border-radius: 4px;
}

.img-pay {
    background-image: url('../../assets/brincos/brinco-gota.jpg');
    background-size: cover;
}

.info-pay {
    padding: 20px;
    background-color: rgb(247, 247, 248);
}

.categorie-pay {
    font-size: 0.625rem;
    color: rgb(169, 177, 190);
}

.desc-pay {
    font-weight: 600;
    word-break: break-word;
    line-height: 1.3125rem;
    font-size: 1.3125rem;
    margin: 24px 0 16px 0;
}

.price-pay {
    font-weight: 600;
    font-size: 0.875rem;
    padding-bottom: 24px;
    color: rgb(206, 125, 165);
}

.button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    align-items: center;
    padding: 15px;
}

.button img {
    margin: 0 80px 0 15px;
}