.coluna-menor {
    margin: 0 30px;
    padding: 20px 10px;
}

.btn {
    display: none;
    padding: 10px;
}

.btn-categories,
.btn-filter {
    all: unset;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    background-color: #ce7da5;
    cursor: pointer;
}

@media screen and (max-width: 735px) {
    .coluna-menor {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .coluna-menor div {
        border-bottom: 0;
    }

    .categories-list ul,
    .filtros-list ul {
        display: none;
    }

    .btn {
        display: flex;
        margin: 0 0 30px 0;
    }

    .contacts,
    h3 {
        display: none;
    }
}